body {
    background-image: url("background1.jpg");
    background-color:white ;
    height: 800px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position:relative;

}